body{
    font-family:Arial, sans-serif;
    background-color:lightgrey;
}
h1{
    color: #0066cc;
}
p{
    font-size: 14px;
    line-height: 1.5;
}
p {color: seagreen;}
.note {color: orangered;}
#intro {color: rgb(183, 63, 183);}
